@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans');

#root {
  width: 100%;
  height: 100%;
}

.rr-app {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  animation: .5s ease-out slideFromBottom;
  z-index: 9999999; /* to make sure it stays on top */
  font-size: 18px;
}

  .rr-app-wrapper {
    font-size: 1em;
    line-height: 1.7;
    margin: 0 auto;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
  }
    /* typography */
    .rr-app-wrapper p {
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
    }
    
    /* Config header style */
    .rr-app-header {
      position: fixed;
      height: 70px;
      width: 100%;
      left: 0;
      top: 0;
      border-bottom: 1px solid rgba(193, 193, 193, 0.2);
    }
      .rr-app-header__content {
        height: 100%;
        padding: 0 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
      }

    .rr-app-wrapper img {
      width: 100%;
      height: auto;
    }

    .rr-app-wrapper a {
      color: #4e7de8
    }
    
    .rr-app-wrapper a:hover {
      color: #3d63b9
    }

    /* content styles */
    .rr-content__wrapper {
      padding: 25px;
    }

      /* heading styles */
      .rr-app-wrapper h1,
      .rr-app-wrapper h2,
      .rr-app-wrapper h3,
      .rr-app-wrapper h4,
      .rr-app-wrapper h5,
      .rr-app-wrapper h6 {
        margin-top: 1em;
        margin-bottom: .3em;
        line-height: 1.3;
        font-family: 'Muli', sans-serif;
      }
      .rr-app-wrapper h1 {
        font-size: 2.5em;
        font-family: 'Muli', sans-serif;
        font-weight: normal;
      }
      .rr-app-wrapper h2 {
        font-size: 2em;
        font-family: 'Muli', sans-serif;
        font-weight: normal;
      }
      .rr-app-wrapper h3 {
        font-size: 1.77em;
        font-family: 'Muli', sans-serif;
        font-weight: normal;
      }
      .rr-app-wrapper h4 {
        font-size: 1.55em;
        font-family: 'Muli', sans-serif;
        font-weight: normal;
      }
      .rr-app-wrapper h5 {
        font-size: 1.33em;
        font-family: 'Muli', sans-serif;
        font-weight: normal;
      }
      .rr-app-wrapper h6 {
        font-size: 1.22em;
        font-family: 'Muli', sans-serif;
        font-weight: normal;
      }

      .rr-theme--toggle {
        display: flex;
      }
      .rr-theme--change {
        display: inline-block;
        width: 20px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #6d6d6d;
        margin: 0 5px;
        cursor: pointer;
      }
    
      /* Buttons */
      .rr-button--close {
        padding: 10px;
        cursor: pointer;
      }


@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: .3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* theme */
.theme-white {
  color: #303030;
  background-color: #ffffff;
}
  .theme-white p,
  .theme-white h1,
  .theme-white h2,
  .theme-white h3,
  .theme-white h4,
  .theme-white h5,
  .theme-white h6{
    color: #303030;
  }

.theme-yellow {
  color: #303030;
  background-color: #f7f0e4;
}
  .theme-yellow p,
  .theme-yellow h1,
  .theme-yellow h2,
  .theme-yellow h3,
  .theme-yellow h4,
  .theme-yellow h5,
  .theme-yellow h6{
    color: #303030;
  }

.theme-dark {
  color: #ffffff;
  background-color: #1c1f21;
}
  .theme-dark p,
  .theme-dark h1,
  .theme-dark h2,
  .theme-dark h3,
  .theme-dark h4,
  .theme-dark h5,
  .theme-dark h6{
    color: #ffffff;
  }